.tooltip-container {
    position: absolute;
    min-width: 320px;
    max-width: calc(100vw - 10px);

    box-shadow: 0 3px 8px #0009240f;
    background-color: #fff;
    border-radius: 4px;

    transform: translateY(calc(-100% - 10px)) translateX(-260px);

    display: none;
}

.tooltip-container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translateX(calc(260px - 75%)) rotate(45deg) translateY(-100%);

    background-color: #fff;
}

.tooltip-content {
    padding: 10px 20px;
    text-align: center;

    border-radius: 4px;
    font-size: 12px;
    line-height: 1.6;
    outline: 0;

    display: block;
}

.tooltip-visible {
    display: block !important;
}


.preloader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100500;
  background: linear-gradient(102.93deg, rgba(224, 224, 230, 0.9) 0%, rgba(212, 213, 229, 0.9) 65.36%);
}

.loader-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  width: 80%;

  padding: 45px 0;
  border-radius: 10px;

  background-size: cover;
  background: #EAEBF2 url(../../../view/image/messor/cart_background.svg) no-repeat center;
}

@media (min-width: 960px) {
    .loader-card {
        width: 50%;
    }
}

.loader-card > span {
  font-family: Gotham Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: #2C3049;
}

.loader-ring {
  position: relative;
  width: 111px;
  height: 111px;

  background: center / 35% no-repeat url(../../../view/image/messor/ant_blue.svg);
}

.loader-ring-light {
  width: 111px;
  height: 111px;
  border-radius: 111px;
  /* box-shadow: 0 4px 0 lighten(#0087bf, 10%) inset; */
  box-shadow: 0 4px 0 #0087bf inset;
  animation: rotate-360 2s linear infinite;
}

.loader-ring-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 111px;
  height: 111px;
  border-radius: 111px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, .3) inset;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.fsc-result__back-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1e91cf;
  color: white;
  font-weight: 500;
  font-size: 20px;

  margin-right: 20px;
}

.fsc-result__back-button > span {
  line-height: 100%;
}

.ms-settings-page__form-btn, .ms-search__btn, .ms-pagination__link {
  cursor: pointer;
}

#newVersionAlert {
  display: none;
  margin-bottom: 2rem;
  overflow-wrap: break-word;
}


.ms-settings-page__content {
  z-index: 2;
}

@media (min-width: 1024px) {
  .ms-settings-page__media {
    position: fixed;
    right: 53px;
    padding-left: 143px;
    z-index: 1;
  }
}

.ms-page-col {
  width: 100% !important;
}

.result-page__close-button {
  align-self: flex-end;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #1e91cf;
  padding: 10px;
  cursor: pointer;
  border: 0;
  margin-bottom: 30px;
}

.ms-page-cards-slider .swiper-slide {
  height: 143px;
  width: 233px;
}

.ms-page-box__content.statistic-cards-container {
  display: flex;
  column-gap: 30px;
  padding-bottom: 18px;
}
