* {
    box-sizing: border-box;
}

#content {
    height: calc(100vh - 64px);
    padding-bottom: 0;
}

.ms-wrapper {
    height: 100% !important;
}

.ms-container {
    height: 100% !important;
}

.subscription-alert {
    height: 100%;
    padding: 20px;
}

.subscription-alert__container {
    background-image: url(../../image/messor/loading-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 30px;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 46px;
    justify-content: center;
    align-items: center;
}

.subscription-alert__logo {
    background-image: url(../../image/messor/subscription-alert-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 77px;
    height: 91px;
}

.subscription-alert__title {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;

    font-size: 38px;
    line-height: 43px;

    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;

    margin-bottom: 26px;
}

.subscription-alert__pay-link {
    width: 250px;
    height: 50px;

    background: #FF8484;
    color: #FFFFFF;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

@media (min-width: 960px) {

    .subscription-alert__logo {
        width: 110px;
        height: 130px;
    }
    
    .subscription-alert__title {
        font-size: 54px;
        line-height: 62px;
    
        margin-bottom: 26px;
    }
    
    .subscription-alert__pay-link {
        width: 437px;
        height: 86px;
    }
}
