{{ header }}{{ column_left }}
<div id="content">
	<div class="ms-wrapper">
		<div class="ms-container">
			<div class="subscription-alert">
				<div class="subscription-alert__container">
					<a href="http://Messor.network/" class="subscription-alert__logo"></a>
					<span class="subscription-alert__title">
						your subscription expired!
					</span>
					<a href="http://Messor.network/SignIn/" class="subscription-alert__pay-link">
						Pay
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}
